<div id="masonry-grid">
  <div class="gutter-sizer"></div>
  <% contributors.each do |contributor| %>
  <div class="grid-item">
    <%= image(contributor.avatar_url, alt: contributor.username, title: contributor.username, width: "200", height: "200") %>
  </div>
  <% end %>
</div>

