<h1 class="title">Hanami Contributors</h2>
<div id="masonry-grid">
  <div class="gutter-sizer"></div>
  <% contributors.each do |contributor| %>
  <div class="grid-item">
    <%= avatar(contributor) %>
  </div>
  <% end %>
</div>

