<!DOCTYPE html>
<html>
  <head>
    <title>Hanami | Hall of Fame</title>
    <%= favicon %>
    <%= stylesheet "application" %>
  </head>
  <body>
    <%= yield %>
    <%= javascript "jquery.min", "mansonry.min", "application" %>
  </body>
</html>
